extends layout

block content
  h1= title
  - let items = results
  div(class="container-fluid")
    div(class="row m-1")
      each item,index in items
        - let destination = `dispatch(\"/Deodorant/update?id=${item._id}\")`
        div(class="col-sm-2 m-1")
          button.btn( class="btn-primary ml-1", onclick= destination) Update
          p Name is #{item.D_Name}
          p Type is #{item.D_Type}
          p Cost is #{item.D_Cost}
          //- Bonus Logic
  script.
    dispatch= (path) =>{
      window.location.href=path
    }