extends layout

block content
  h1= title
  - let items = results
  div(class="container-fluid")
    div(class="row")
      each item,index in items
        div(class="col-sm-2",onClick=`buy(${index})`)
          p Name is #{item.D_Name}
          p Type is #{item.D_Type}
          p Cost is #{item.D_Cost}
          //- Bonus Logic
  script.
    buy= (i) =>{
      i+=1;
      alert(`You Purchased Item ${i}`);
    }  

